{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ include('post/_style.html.twig') }}
 {% endblock %}


{% block title %}Editando Post{% endblock %}

{% block body %}
   
        <h1>Editando Post</h1>

        {{ include('post/_form.html.twig', {'button_label': 'Salvar'}) }}

        <a href="{{ path('post_index') }}"  class="btn btn-primary">Voltar</a>

        {{ include('post/_delete_form.html.twig') }}
      
{% endblock %}
